{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <!--=================================
         Banner -->
    <section class="pt-breadcrumb">
        <div class="pt-bg-overley pt-opacity4" style="background-image: url({{static.15.get_image_1_url}});"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="pt-breadcrumb-title">{{static.15.title}}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'core:index' %}"><i class="fas fa-home mr-2"></i>{% trans 'Home' %}</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans 'Daily Dose of Architecture' %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
         Banner -->
    <!--=================================
         Blog -->
    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="pt-blog-post mb-4">
                        <div class="pt-post-media">
                            <img class="img-fluid" src="{{news.image.url}}" alt="">
                        </div>
                        <div class="pt-blog-contain">
                            <div class="pt-post-meta">
                                <ul>

                                    <li class="pt-post-meta">
                                        <a href="#"><i class="fa fa-calendar"></i>{{news.created_at|date:"d F"}}</a>
                                    </li>
                                    <li class="pt-post-tag">
                                        <a href="#"><i class="fa fa-tag"></i>{{news.category}}</a>
                                    </li>
                                </ul>
                            </div>

                            {{news.description|safe}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
         Blog -->

{% endblock %}