{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
   <!--=================================
         Banner -->
   <section class="pt-breadcrumb">
      <div class="pt-bg-overley pt-opacity4" style="background-image: url('{{static.12.get_image_1_url}}');"></div>
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <h1 class="pt-breadcrumb-title">{{static.12.title}}</h1>
               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a href="{% url 'core:index' %}"><i class="fas fa-home mr-2"></i>{% trans 'Home' %}</a></li>
                     <li class="breadcrumb-item active" aria-current="page">{% trans 'Our-Client' %}</li>
                  </ol>
               </nav>
            </div>
         </div>
      </div>
   </section>
   <!--=================================
         Banner -->
   <!--=================================
         Client-->
   <section class="client">
      <div class="pt-bg-overley1 pt-opacity1" style="background-color:darkblue"></div>
      <div class="container">
         <div class="row">
            <div class="col-xl-3">
            </div>
            <div class="col-xl-6 text-center">
               <div class="pt-section-title-box">
                  <span class="pt-section-sub-title border-left pt-text-primary">{{static.13.surtitle|safe}}</span>
                  <h2 class="pt-section-title pt-text-dark">{{static.13.title|safe}}</h2>
                  <p class="pt-section-description">{{static.13.subtitle|safe}}
                  </p>
               </div>
            </div>
            <div class="col-xl-3">
            </div>
         </div>
         <div class="row text-center">
            {% for client in clients %}
               <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="pt-client-grid">
                     <img class="img-fluid pt-client-img" src="{{client.image.url}}" alt="pt-client-img">
                     <a href="{{client.url}}">
                        {% if client.get_image_2_url %}
                           <img class="img-fluid pt-client-hover-img" src="{{client.get_image_2_url}}" alt="pt-client-img">
                        {% endif %}
                     </a>
                  </div>
               </div>
            {% endfor %}
         </div>
      </div>
   </section>
   <!--=================================
         Client-->
{% endblock %}   